:root {
      --base: #98E2FF;
      --spacing: 50px;
      --blur: 0px;
      --center: 0 auto;
      
    }

    img {
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
    }

    .hl {
      color: var(--base);
      margin: var(--center);
      padding: 0.5rem;
    }

    /*
      misc styles, nothing to do with CSS variables
    */

    body {
      text-align: center;
      margin: 0;
      padding: 0;    
    }

    body {
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 4em;
      padding: 0.5rem;    
    }

    .controls {
      margin-bottom: 5rem;
    }

    input {
      width: 100px;
      min-height: 2rem;
      border: 1px solid red;
      padding: 0rem;
      margin: 0 0.5rem;    
    }

    .footer {   
      color: #EFEFEF;
      padding: 0.5rem;
      margin: 0rem;   
    }

    .footer_content {
      color: #EAEAEA;
      padding: 1rem;   
    }   
